body {
    font-family: "Arial", sans-serif;
    background-color: #f8f9fa;
}

body .index {
    background-color: #f4f4f4;
}

.nav-pills .nav-link {
    color: #153E67;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #153E67;
    color: #f8f6f6;
}

.visualization {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 0 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.dashboard-container {
    padding: 10px;
}

.col-md-5 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers the content vertically */
}

header {
    background-color: #FDB813;
    color: #333;
    text-align: center;
    padding: 20px;
    border-radius: 7px;
    margin: 5px;
}

h1.NYC {
    margin: 0;
    color: #153E67;
    font-family: 'Fear Factor Black', sans-serif;
}


h2 {
    text-align: center;
    margin: 10px;
    font-weight: bold;
    color: #153E67;
}

h1, h2 {
    display: inline;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.center {
    text-align: center;
    padding: 15px 0 8px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.bar {
    fill: steelblue;
}
.x.axis path {
    display: none;
}
