/* Add any custom styles you want here. For example: */
body {
    font-family: Arial, sans-serif;
}

/* You can add more styles as per your requirements. */
/* Tab content */

.tab-button {
    width: 100px; /* 或任何您想要的初始宽度 */
    height: 30px; /* 或任何您想要的初始高度 */
    background-color: #ffffff; /* 初始背景色 */
    transition: all 0.3s ease; /* 为了平滑过渡效果 */
}

.tab-button.active {
    width: 200px; /* 改变大小 */
    background-color: orange; /* 改变颜色 */
}
